@media screen and (max-width: 900px) {
    .nav img{
        width: 20vw;
    }
    .hero-btn{
        display: flex;
        flex-direction: column;
    }
    .span-1{
        font-size: 1.8rem;
    }
    .span-2{
        font-size: 1.2rem;
    }
    .span-3{
        font-size: 1rem;
    }
    .hero{
        padding: 0;
    }
    .first{
        flex-direction: column;
        height: 60vh;

    }
    .rev{
        flex-direction: column-reverse;
    }
    .first img{
        width: 80vw;
    }
    .sec-img video{
        width: 277px;
        top: 31px;
        right: 22px;
    }
    .second-img video{
        width: 207px;
        top: -8px;
        left: 65px;
    }
    .sec-p h3{
        font-size: 2rem;
    }
    .sec-p p{
        font-size: 1rem;
    }
    .download {
        top: 174px;
        left: 76px;
        padding: 0;
        width: 190px;
        height: 63px;
        font-size: 13px;
    }
    .download img{
        width: 44px;
        height: 60px;
    }
    .faq h2{
        font-size: 1.8rem;
    }
    .box{
        font-size: 0.8rem;
        font-size: 1.2rem;
        padding: 24;
        height: 1.2vh;
        width: 80vw;
    }
    #lang{
        display: none;
    }
    .btn-2{
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        color: white;
        background-color: rgba(23, 23, 23, 0.153);
        border: 1px solid rgba(255, 255, 255, 0.368);
        border-radius: 4px;
        cursor: pointer;
        padding: 12px 7px 11px 7px;
    }
    .btn-sn{
        padding: 12px;
    }
    footer{
        font-family: 'Poppins', sans-serif;
        width: 95vw;
        height: 60vh;
        font-size: 0.9rem;
        color: rgb(255 255 255 / 70%);
        font-weight: 300;
    }
    footer p{
        width: 80vw;
        margin: 20px 0 0 20px;
        color: rgb(255 255 255 / 70%);
    }
    footer ul{
        height: 400px;
        width: 100%;
        flex-wrap: wrap;
    }
    a{
        width: 170px;
        height: 20px;
        color: rgb(255 255 255 / 70%);
    }
    footer li{
        padding: 10px 0 0 20px;
    }
}
